<!DOCTYPE html>
<html>
<head>
<%- include("header") -%>
    <title>Home</title>
</head>
<body>
    <% if(isAdmin){ %>
        <%-include("./navbar/admin")-%>
    <% }else{%>
        <%-include("./navbar/user") -%>
    <% } %>
    <header>
    </header>
    <%-include("footer")-%>
</body>
</html>