    <!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title> <%= data_movie[0]["name"] %> </title>
</head>
<body>
    <header>
        <h1> <%= data_movie[0]["name"] %> </h1>
    </header>
    <a href="/movies">Articles</a>
    <div class="container-fluid">
        <%= data_movie[0]["synopsis"]%>
    </div>
</body>
</html>