<!DOCTYPE html>
<html>
<head>
    <%-include("../header")-%>
    <title>Add Movie</title>
</head>
<body>
    <header>
        <h1> Create an article </h1>
    </header>
    <% if(error){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <a href ="/movies">Articles</a>
    <form method="POST" enctype="multipart/form-data" action="/movies">
        <div class="form-group">
            <label for="movie_name">Movie name</label>
            <input type="text" class="form-control" id="movie_name" placeholder="Enter movie name" name="movie_name" required>
        </div>
        </div>
        <div class="form-group">
            <label for="realisator">Realisator</label>
            <input type="text" class="form-control" id="realisator" placeholder="Enter realisator" name="realisator" required  >
        </div>
        <div class="form-group">
            <label for="release_year">Release Year</label>
            <input type="text" class="form-control" id="release_year" placeholder="Enter release year" name="release_year" required  >
        </div>
        <div class="form-group">
            <label for="running_time">Running Time</label>
            <input type="text" class="form-control" id="running_time" placeholder="Enter running time" name="running_time" required  >
        </div>
        <div class="form-group">
            <label for="synopsis">Synopsis</label>
            <textarea class="form-control" id="synopsis" placeholder="Please write synopsis..." name="synopsis" rows = "10" required ></textarea>
        </div>
        <div class="form-group">
            <label for="movie_image">Input movie overview</label>
            <input type="file" class="form-control-file" id="movie_image" name="movie_image">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</body>
</html>