<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/movies">Movies</a></li>
            </ul>
            <a href="/users/logout">
                <button class="btn btn-danger">Disconnect</button>
            </a>
        </div>
    </div>
</nav>