<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: static;">
  <a class="navbar-brand" href="/home">Home</a>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/movies/genres">Genres</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Movies
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/movies">View movies</a>
            <a class="dropdown-item" href="/movies/create">Add movie</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="/profile">View infos</a>
            <a class="dropdown-item" href="/profile/gestion">Gestion panel</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="/users/logout">Logout</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="md-form" id="inputGroupSelect01">
          <input class="form-control" autocomplete = "off" type="search" id="search" placeholder="Find movie..." aria-label="Search"> 
        
          <div class="autocomplete" id="matches" style="position: absolute;z-index : 300  ;">
        </div>
      </div>
      </form>
    </div>
</nav>