<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Home</a>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/movies/genres">Genres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/movies">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">View infos</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/users/logout">Logout</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="md-form" id="inputGroupSelect01">
          <input class="form-control" type="search" id="search" placeholder="Find movie..." aria-label="Search"> 
        </div>
        <div class="autocomplete" id="matches" style="position: absolute;z-index : 300  ;">
        </div>
      
      </form>
    </div>
</nav>