<!DOCTYPE html>
<html>
<head>
    <%-include("../header")-%>
    <title>Register page</title>
</head>
<body>
    <header>
        <h1> Register page </h1>
    </header>
    <% if(error){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <form method="POST" action="/users/register">
        <a href ="/users/login">Login</a>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
        </div>
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" name="firstname" required>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" id="lastname" placeholder="Enter lastname" name="lastname" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required  >
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</body>
</html>